PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/neon-quiz-arena
# Set true if you see "unable to verify the first certificate" (common on some Windows networks)
MONGODB_TLS_INSECURE=false

# Your public profile links (shown on the website)
PROFILE_NAME=Pranith
GITHUB_URL=https://github.com/Pranith-creater
LINKEDIN_URL=https://www.linkedin.com/in/pranith-modalla-771951325